<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
    <div class="side-nav-wrapper">
        <span id="logo">
            <h5><a href="index.html">American Made</a></h5>
        </span>
        <nav>
            <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Look & Feel</dt>
                <dd>
                    <a href="competitive-analysis-look-feel.html">Look & Feel</a>
                </dd>

                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Pages</dt>
                <dd>
                    <a href="landing-pages-home-pages.html">Landing Page</a>
                    <a href="landing-pages-character-pages.html">Character Page</a>
                    <a href="landing-pages-video-galleries.html">Video Gallery</a>
                    <!-- <a href="landing-pages-image-galleries.html">Image Gallery</a> -->
                    <a href="landing-pages-buy-tickets.html">Buy Tickets</a>
                </dd>

                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Style</dt>
                <dd>
                    <a href="style-color.html">Color</a>
                    <a href="style-iconography.html">Iconography</a>
                    <a href="style-imagery.html">Imagery</a>
                    <a href="style-typography.html">Typography</a>
                </dd>
            </dl>
        </nav>
    </div>
</div>
